img {
  width: 80px;
}
.block {
  margin: 5px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
}
.block__content {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.block__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1px;
  padding: 0;
}
